# .NET Core 7
## Build artifacts
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.runtimeconfig.json
*.deps.json
/

## Test Results
TestResults/

## .NET Core project files
*.obj
*.cache
*.jfm
*.lock.json
*.userprefs
*.log

## Visual Studio files
.vs/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.pidb
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.suo
*.user
*.vbw
*.vbw.*
*.[Cc]ache
*.bak
*.cachefile
*.ilk
*.local.*
*.ncb
*.obj
*.opendb
*.pidb
*.psess
*.publish.xml
*.scc
*.sln.docstates
*.suo
*.tlog
*.trx
*.vbw
*.vsdconfig
*.vsmdi
*.vsmproj
*.vspscc
*.vssscc
*.vsv
*.vsx
*.vxcproj
*~$*
*.[Pp]ublish.xml
*.generated.cs

## Rider files
.idea/
*.sln.iml
*_ReSharper.*
